
#sunflower{
    width: 50px;

}
.Navbar{
    display: flex;
    font-size: larger;
    
}
.navbar{
    display: flex;
    margin-left: 60%;
    gap: 70px;
    
}
.plant{
    font-size: 30px;
 
}
#learn{
    text-align: center;
}
#plan{
    font-size: 24px;
    display: flex;
    gap: 280px;
    object-fit: contain;
  
}
.plan{
    width: 420px;
    height: 420px;
    border-radius: 20%;
}
#button{
    border-radius: 50px;
    width: 120px;
    height: 60px;
    margin-top: 20px;
    padding-top: 2px;
    padding-bottom: 2px;
    margin-left: 40px;
    margin-right: 40px;
    font-size:large;
    background-color:black;
    color:white;
    text-decoration: none;
    
}
#button a{
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-weight: bold;

}

#Text{
    display: flex;
    gap: 200px;
}
.tex{
    font-size: 23px;
}
#text{
    font-size: 34px;
    margin-left: 10%;
  
}
#tree{
    width: 200%;
}

#images{
    font-size: 29px;
}
.images{
    display: flex;
    margin-top: 5%;
    gap: 30%;
    font-size: 20px;
}
#lily{
    background-image: url("https://i.pinimg.com/236x/6c/f9/d5/6cf9d52011f571cc0758bfc2047b1db7.jpg");
   background-position: center;
   background-size:cover;
    background-repeat: no-repeat; 
   border: none;
   width: 100%;
   height: 100%;
   color: black;
   text-align: center;
   padding-bottom: 5%;
   padding-top: 5%; 

   
}
#innerlily{
    padding-top: 80px;
    padding-bottom: 80px;
    background-color: white;
    margin-left: 2%;
    margin-right: 2%;
    background-size: cover;
    filter: opacity(60%);
    
}
.green{
    display: flex;
    gap: 30%;
}
.footer{
    display: flex;
    font-size: 15px;
    gap: 380px;
    background-color: #124909;
    margin-top: 100px;
 
}
#Choose{
    text-align: center;
}
.join{
    text-align: center;
    font-size: 20px;
}
#join{
    display: flex;
    gap: 370px;
}
#picture{
    width: 450px;
    height: 380px;
}
.information{
    margin-top: 5%;
    font-size:23px;
    text-align: center;
}
#Plantae{
    text-align: center;
    font-size: 22px;
}
#home{
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-weight: bold;


}
.menu-toggle {
    display: none;
  }
  

/* Styles for smaller screens */
@media screen and (max-width: 767px) {

    #menu-toggle {
        display: none;
    }
    
    .hamburger-button {
        cursor: pointer;
        font-size: 24px;
        color: #fff;
        background-color: #333;
        padding: 10px;
    }
    
    .nav-links {
        display: none;
        flex-direction: column;
        background-color: #333;
        width: 200px;
        position: absolute;
        right: 0;
    }
    
    .nav-links ul li {
        padding: 10px;
        text-align: center;
    }
    
    .nav-links ul li a {
        color: #fff;
        text-decoration: none;
    }
    
}

@media screen and (max-width:1046){
    
}