body {
    background-color: rgba(0, 128, 0, 0.918);
    font-family: Arial, sans-serif;
    color: #fff;
    text-align: center;
}
#container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}
.plant-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 15px;
    width: 200px;
    background-color: #fff;
    color: #000;
    cursor: pointer;
}
.plant-card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 15px;
}
#searchBar {
    margin: 20px;
    padding: 10px;
    width: 50%;
    font-size: 16px;
}
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
    padding-top: 60px;
}
.modal-content {
    background-color: #fff;
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 600px;
    color: #000;
    border-radius: 15px;
    text-align: left;
}
.close-button {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
.close-button:hover,
.close-button:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}